<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>

<p>
  <strong>Role:</strong>
  <%= @candidate.role %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @candidate.technology %>
</p>

<p>
  <strong>Company:</strong>
  <%= @candidate.company.name %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to "Download Resume", @candidate.attachment_url %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= link_to "linkedin", @candidate.linkedin %>
  <%= link_to image_tag('linkedin.jpg'), @candidate.linkedin %>
</p>

<h2>Leave a comment</h2>
	<%= form_for([@candidate, Comment.new]) do |f| %>
		<%= f.text_area :content, :rows => 4 %>
			<div class="actions">
			<%= f.submit "Post"%>
			</div>
	<% end %>
	
<div id="container">
<% if @candidate.comments.empty? %>
	<p>No comments.</p>
<% else %>	
	<h2>Comments for this candidate:</h2>
	<% @candidate.comments.reverse.each do |c| %>
			<%= c.content%> <br> <%= c.user.email %> <br> <%= c.created_at %>
			<hr>
	<% end %>
<% end %>
<br>
</div>

<%= link_to "Add Comment", "/comments/new?user_id=@user.email&candidate_id=@candidate.id" %>
<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>

